@model TCC_MVC.Models.EvolutionGraphicModel

<div id="chart_evolution">
    @Html.Hidden("chartTitle", "Nº de pubilcações nos últimos " + @Model.EvolutionGap + " " + @Model.EvolutionType)
    @Html.Hidden("chartKeyword", @ViewData["chartKeyword"])

    @foreach (var season in Model.Seasons)
    {
        @Html.Hidden("chartYear", season.year)
        @Html.Hidden("chartTotal", season.total)
    }
</div>
