@model TCC_MVC.Models.SearchModel
@{
    ViewBag.Title = "Index";
}

<span>All with Qaulis - @ViewBag.All</span><br />
<span>TotalA1 - @Model.TotalA1</span><br />
<span>TotalA2 - @Model.TotalA2</span><br />
<span>TotalB1 - @Model.TotalB1</span><br />
<span>TotalB2 - @Model.TotalB2</span><br />
<span>TotalB3 - @Model.TotalB3</span><br />
<span>TotalB4 - @Model.TotalB4</span><br />
<span>TotalB5 - @Model.TotalB5</span><br />
<span>TotalC -  @Model.TotalC </span><br />